img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

.img-wrapper {
    position: relative;
}

img.not-approved {
    opacity: 0.8;
}

.img-text span{
    position: absolute;
    bottom: 50%;
    left: 25%;
    font-size: small;
    /* color: blue !important; */
}

.img-text span.mobile{
    position: absolute;
    bottom: 50%;
    left: 10%;
    font-size: small;
    /* color: green !important; */
}

.nv-file-over {
    border: dotted 3px red;
}

input[type='file'] {
     color: transparent;
}