<div class="row" (window:resize)="onResize($event)">
  <table class="table">
    <tr class="table-row">
      <th class="col-len-1">ID</th>
      <th class="col-len-2" [ngClass]="{'header-col-align-not-mobile' : !isMobileDevice}">User name</th>
      <th class="col-len-3" [ngClass]="{'header-col-align-not-mobile' : !isMobileDevice}">Active roles</th>
      <th></th>
    </tr>
    <tr *ngFor="let user of users"
        class="table-row"> 
      <td class="col-len-1">{{user.id}}</td>
      <td class="col-len-2">{{user.userName}}</td>
      <td class="col-len-3">{{user.roles}}</td>
      <td><button 
        class="btn btn-info" (click)="EditRolesModal(user)">Edit Roles</button></td>
    </tr>
  </table>
</div>
